/*********************************************************************************************************************/
/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #3849e2;
    --clr: #e8e534;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}
.App{
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    padding: 10rem 15% 10rem;
}

/*********************************************************************************************************************/
/* Display Paragraphs*/

#note h3{
    margin-bottom: .5rem;
    margin-left: 1rem;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
}
#noteBox {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: left;
    gap: 2.5rem;
}
#noteDetails {
    background-color: var(--main-color);
    height: auto;
    border-radius: 2rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    display: block;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 1rem 1rem;
    margin-left: 1.5rem;
}
#noteDetails:hover{
    background: var(--text-color);
    color: var(--bg-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03)
}
#noteDetails h5{
    font-size: 1.8rem;
    font-weight: 600;
}
#noteDetails p{
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
    margin-left: 1.7rem;
}

#noteHeader {
    display: flex;
}

#noteHeader h3 {
    padding-right: 5%;
}

#noteBtn {
    margin-bottom: .5rem;
    margin-left: .5rem;
    color: var(--main-color);
    background-color: var(--bg-color);
    font-size: 23px;
    transition: 0.3s ease-in-out;
    padding: .1rem;
    border-radius: 50%;
}

#noteBtn:hover {
    color: var(--clr);
    transform: scale(1.2);
}

#btnGroup{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*********************************************************************************************************************/
/* Create Form*/

#createForm h2 {
    margin-bottom: 3rem;
    color: white;
}

#heading{
    font-size: 4rem;
    text-align: left;
    margin: 5rem 0;
}

span {
    color: var(--main-color);
}

#createForm input {
    height: 10px;
}

#createForm input,
#createForm textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--bg-color);
    background: var(--text-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
}

::placeholder {
    color: var(--main-color);
}

#buttonShift {
    display: inline-block;
    position: relative;
    background: var(--main-color) ;
    color: var(--main-color);
    text-transform: uppercase;
    border-radius: 4rem;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    font-weight: 600;
    padding: 1rem 2.8rem;
    transition: 0.5s;
    cursor: pointer;
}

#buttonShift:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

#buttonShift:before {
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 4rem;
    background: #27282c;
}

#buttonShift span{
    position: relative;
    z-index: 1;
}

#buttonShift:hover span {
    color: var(--clr);
}

#buttonShift i {
    position: absolute;
    inset: 0;
    display: block;
    color: transparent;
}

#buttonShift i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

#buttonShift:hover i::before {
    width: 20px;
    left: 20%;
}

#buttonShift i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

#buttonShift:hover i::after {
    width: 20px;
    left: 80%;
}

/*********************************************************************************************************************/
/* Update Form*/

#updateForm h2 {
    margin-bottom: 3rem;
    color: white;
}

#heading{
    font-size: 4rem;
    text-align: left;
    margin: 5rem 0;
}

span {
    color: var(--main-color);
}

#updateForm input {
    height: 10px;
}

#updateForm input,
#updateForm textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--bg-color);
    background: var(--text-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
}

#updateForm #btn{
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 2rem;
}

#buttonShift {
    display: inline-block;
    position: relative;
    background: var(--main-color) ;
    color: var(--main-color);
    text-transform: uppercase;
    border-radius: 4rem;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    font-weight: 600;
    padding: 1rem 2.8rem;
    transition: 0.5s;
    cursor: pointer;
}

#buttonShift:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

#buttonShift:before {
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 4rem;
    background: #27282c;
}

#buttonShift span{
    position: relative;
    z-index: 1;
}

#buttonShift:hover span {
    color: var(--clr);
}

#buttonShift i {
    position: absolute;
    inset: 0;
    display: block;
    color: transparent;
}

#buttonShift i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

#buttonShift:hover i::before {
    width: 20px;
    left: 20%;
}

#buttonShift i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

#buttonShift:hover i::after {
    width: 20px;
    left: 80%;
}